<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>288062969366-h90i7gft7h1nl2iea9n3or0dv2stbpvh.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.288062969366-h90i7gft7h1nl2iea9n3or0dv2stbpvh</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>288062969366-p6ho0f35u91elebbcrjnjvc7cnfa50us.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyB5r5w8miwwZpvQ5JOonCNbMUtpRe-Z5Tw</string>
    <key>GCM_SENDER_ID</key>
    <string>288062969366</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.videoGenApp</string>
    <key>PROJECT_ID</key>
    <string>video-generator-app-dc8ee</string>
    <key>STORAGE_BUCKET</key>
    <string>video-generator-app-dc8ee.firebasestorage.app</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:288062969366:ios:0515db59b82c8bff820737</string>
    <key>DATABASE_URL</key>
    <string>https://video-generator-app-dc8ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>